body{
    background-color: blueviolet;
    font-weight: 700;
    color: antiquewhite;
    font-family: 'Lucida Sans';
    text-align: center;
}

h1{
    text-decoration: underline;
}

img{
    border: solid 3px antiquewhite;
    margin: 15px 0;
}